.btn_box {
    text-align: right;
}

.btn_box button {
    padding: 2px 5px;
    margin-left: 5px;
}

.vote_detail_title {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.vote_detail_content {
    text-align: center;
    overflow-y: auto;
    height: 37vh;
}

.vote_detail_content::-webkit-scrollbar {
    display: none;
}

.vote_detail_content ul li button {
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_vote {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.show_scroll {
    position: relative;
}

.show_scroll button {
    border: none;
    width: 50px;
    height: 33px;
    box-shadow: none;
    background: none;
}

.show_scroll p {
    text-align: right;
    float: right;
}

.btn_scroll{
    display: none;
}

.show_scroll:hover .btn_scroll {
    display: block;
    position: absolute;
}

