* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f9f9f9;
  height: 100vh;
}

.content_box {
  height: 85vh;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: #ccc;
}

.footer {
  height: 5vh;
  width: 100%;
  background-color: #ccc;
}

section {
  height: 70vh;
  width: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_top {
  height: 7.5vh;
  width: 100%;
  background-color: #ccc;
}

.main_menu_btn {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.main_menu_btn button {
  z-index: 1;
}

.main_menu_btn .show_vote_create {
  position: absolute;
  width: 50%;
  height: 10vh;
  top: 125px;
  left: 25%;
}

.main_menu_btn .show_vote_list {
  position: absolute;
  width: 50%;
  height: 10vh;
  top: 350px;
  left: 25%;
}

.show_component {
  margin-top: 3.5vh;
  width: 90%;
  height: 55vh;
  background-color: #f9f9f9;
  position: relative;
  padding: 20px;
}

.home_btn {
  position: absolute;
  margin: 5px;
}

.home_btn button {
  padding: 5px;
}

.home_btn button img {
  width: 20px;
}