* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border-radius: 10px;
  border: none;
}

.container {
  background-color: #f9f9f9;
  height: 100vh;
}

.content_box {
  height: 85vh;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: #FFFB94;
}

.footer {
  height: 5vh;
  width: 100%;
  background-color: #FFFB94;
}

section {
  height: 70vh;
  width: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.section_top {
  height: 7.5vh;
  width: 100%;
  background-color: #fff;
  border-radius: 15px 15px 0 0 ;
  border-bottom: 3px solid #FFFB94;;
}

.main_menu_btn {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.main_menu_btn button {
  z-index: 1;
  font-size: 1.5rem;
  background-color: #fcfbe0;
  box-shadow: 3px 3px 3px #FFFB94;
}

.main_menu_btn .show_vote_create {
  position: absolute;
  width: 50%;
  height: 12vh;
  top: 125px;
  left: 25%;
}

.main_menu_btn .show_vote_list {
  position: absolute;
  width: 50%;
  height: 12vh;
  top: 325px;
  left: 25%;
}

.show_component {
  margin-top: 3.5vh;
  width: 90%;
  height: 55vh;
  background-color: #fafafa;
  position: relative;
  padding: 20px;
  border-radius: 15px;
}

.home_btn {
  position: absolute;
}

.home_btn button {
  padding: 5px;
  background-color: #FFFB94;
  box-shadow: 3px 3px 3px #a39f32;
}

.home_btn button img {
  width: 20px;
}